.Search-bar {
    display: flex;
    justify-content: center;
    position: absolute;
}
.Search-bar__container {
    transform: translateY(-120px);
    background-color: #ffffff;
    width: 0;
    height: 0;
    margin-top: 40px;
    z-index: -30000;
    border-radius: 5px;
    border: 0.5px solid gainsboro;
    box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0);
    transition: transform 0.5s ease-in;
}
.Search-bar__container.slide-down {
    transform: translateY(0);
    width: 1000px;
    height: 90px;
    z-index: 30000;
    transition: transform 0.5s ease-out;
}
@media (max-width: 796px) {
    .Search-bar__container.slide-down {
        width: 500px;
    }
}
.Search-bar__input {
    margin: 17px 0 0 20px;
    width: 95%;
    height: 60%;
    background-color: #ffffff;
    border: none;
    font-size: larger;
}
.Search-bar__input:focus {
    outline: none;
}
