@import "../../../generalStyles/appBackgroundColors/";
.Footer {
  margin: 0 0 20px 0;
  display: block;
  bottom: 0;
  z-index: 1;
  height: 30px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 14px;
  font-family: inherit;
}
.Footer__content {
  display: flex;
  margin: 0;
  padding: 10px;
  list-style: none;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}
.Footer__content-link {
  width: 100%;
  text-decoration: none;
  color: $quinary-color;
}
.Footer__content-link:hover {
  color: $quaternary-color;
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .Footer__content {
    justify-content: center;
  }
}
