.Toggle-Button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 25px;
    margin: 0;
    padding: 2.4px 0 0 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.Toggle-Button__burger {
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}
.Toggle-Button__burger.dark {
    background: rgb(0, 0, 0);
}
.Toggle-Button__burger::before,
.Toggle-Button__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}
.Toggle-Button__burger.dark::before,
.Toggle-Button__burger.dark::after {
    background: rgb(0, 0, 0);
}
.Toggle-Button__burger::before {
    transform: translateY(-6px);
}
.Toggle-Button__burger::after {
    transform: translateY(6px);
}
.Toggle-Button.open .Toggle-Button__burger {
    transform: translateX(-50px);
    background: transparent;
}
.Toggle-Button.open .Toggle-Button__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.Toggle-Button.open .Toggle-Button__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
