@import "../../generalStyles/appBackgroundColors/";
.Dashboard-Layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    .Dashboard-Layout__container {
        height: 100%;
        width: 100%;
        background-color: $primary-color;
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0%;
        padding: 0%;
    }
    .Dashboard-Layout__sidebar-layout-container {
        transform: translate(0, 0);
        width: 280px;
        height: 100%;
        opacity: 1;
        transition: all 0.5s ease-out;
    }
    .Dashboard-Layout__sidebar-layout-container.transformation {
        transform: translate(-280px, 0);
        width: 0;
        opacity: 0;
        transition: all 0.5s ease-in;
    }
    .Dashboard-Layout__sidebar-layout-container.transformation.mobile-view {
        transform: translate(0, -2000px);
    }
    .Dashboard-Layout__menu-layout-container {
        flex: 1;
    }
    @media (max-width: 796px) {
        .Dashboard-Layout__menu-layout-container {
            z-index: 2000;
        }
    }
}
