@import "../../../generalStyles/appBackgroundColors/";
.Profile-Card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 50px 90px 90px 60px;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    background-color: $tertiary-color;
    .Profile-Card__heading {
        padding: 4px;
    }
}
.Profile-Card.user-contact {
    align-items: center;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    gap: 20px;
    border-radius: 5px;
}
@media (max-width: 1300px) {
    .Profile-Card {
        width: auto;
        padding: auto;
        margin: auto;
    }
    .Profile-Card.user-contact {
        margin: 10px 10px 10px 15px;
    }
}
@media (max-width: 797px) {
    .Profile-Card {
        width: auto;
        padding: 10px 0px 10px 4px;
        margin: 10px;
    }
    .Profile-Card.user-contact {
        margin: 10px 10px 10px 15px;
    }
}
