@import "../../../generalStyles/appBackgroundColors/";
.Profile-Card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 50px 90px 90px 60px;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    background-color: $tertiary-color;
    .Profile-Card__heading {
        padding: 4px;
    }
}
.Profile-Card.user-contact {
    align-items: center;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
    gap: 20px;
    border-radius: 5px;
}
@media (min-width: 32rem) and (max-width: 56.25rem) {
    .Profile-Card {
        width: auto;
        padding: 10px;
        margin: auto;
    }
    .Profile-Card.user-contact {
        margin: 10px 10px 10px 15px;
    }
}
@media (min-width: 82rem) and (max-width: 120rem) {
    .Profile-Card {
        width: auto;
        padding: 10px;
        margin: auto;
        background-color: rgba(0, 0, 0, 0);
    }
}
@media (min-width: 0rem) and (max-width: 31.25rem) {
    .Profile-Card {
        width: auto;
        padding: 10px 0px 10px 4px;
        margin: 10px;
        background-color: rgba(0, 0, 0, 0);
    }
    .Profile-Card.user-contact {
        margin: 10px 10px 10px 15px;
    }
}
