.Sidebar {
    background-color: #2970f6;
    height: 96.5%;
    width: 230px;
    z-index: 500;
    margin: 0 0 0px 20px;
    padding: 10px;
    color: white;
    border-radius: 5px;
    overflow-x: auto;
    .Sidebar__title ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 3px;
        padding: 3px;
        gap: 23.8px;
        margin-bottom: 20px;
        list-style: none;
        font-size: 16.2px;
        border-bottom: 0.5px solid rgb(204, 204, 204);
    }
    @media (max-width: 797px) {
        .Sidebar__title ul {
            padding: 15px;
        }
    }
    .Sidebar__items ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .Sidebar__item {
        margin-bottom: 25px;
    }
    .Sidebar__item-link {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin: 3px;
        padding: 3px;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        color: rgb(204, 204, 204);
        font-size: 12px;
    }
    .Sidebar__item-link.selected-route {
        color: white;
        font-weight: 800;
    }
    .Sidebar__item-link:hover {
        color: white;
    }
    .Sidebar__item--icons {
        width: 28px;
        height: 31px;
    }
}
@media (max-width: 796px) {
    .Sidebar {
        margin: 0;
        padding: 0;
        width: 250px;
        height: 100%;
        border-radius: 0 5px 0 0;
    }
}
