@import "../../generalStyles/appBackgroundColors/";
.Icons-Component {
    padding: 5px 0 26px 0;
    .Icons-Component__title {
        margin-bottom: 10px;
        padding-bottom: 6px;
    }
    .Icons-Component__grid {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(5, 0.8fr);
        grid-template-rows: auto;
        overflow: auto;
    }
    .Icons-Component__row-element {
        display: flex;
        justify-content: center;
        padding: 40px 30px;
        margin: 40px 10px;
        height: 70%;
        width: calc(100% - 69px);
        flex: 1;
        border: 1.5px solid $quaternary-color !important;
    }
    .Icons-Component__row-element-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: small;
        font-weight: 800;
        color: $quaternary-color;
    }
    @media (max-width: 796px) {
        .Icons-Component__grid {
            grid-template-columns: 4fr;
            grid-template-rows: auto;
            margin-left: 10px;
        }
    }
    @media (max-width: 900px) {
        .Icons-Component__title {
            padding-left: 10px;
        }
        .Icons-Component__grid {
            grid-template-columns: 4fr;
            grid-template-rows: auto;
        }
    }
}
